.idea
.local.env.php

# Symfony
tools/php-cs-fixer/composer.lock
vendor/
phpunit.xml
.php-cs-fixer.cache
.php-cs-fixer.php
.phpunit.result.cache
composer.phar
package.tar
/packages.json
/.phpunit
var/
.env.local

# Docker
docker/dev/.env
docker/dev/docker/

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
