parameters:
    level: 8
    paths:
        - src/
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - "#Strict comparison using === between 'alias' and 'computed' will always evaluate to false.#"
