parameters:
    level: 8
    paths:
        - src/
    ignoreErrors:
        - identifier: missingType.generics

        # Totally legit: 'alias', 'columnName' and 'computed' are not always present so PHPStan should not complain
        - "#Strict comparison using === between 'alias' and 'computed' will always evaluate to false.#"

        # Alias in a SQL request
        - "#Cannot access offset 'count' on array<string, mixed>\\|false.#"
