<form action="{{ url('category_delete', {id: category.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" id="deleteCategorySubmitButton" class="btn btn-lg btn-block btn-danger" onclick="return areYouSure('{{ 'delete_modal.category'|trans }}');">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {{ 'button.delete'|trans }}
    </button>
</form>
